# Build results
[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/
out/
.build/
*.nupkg
*.snupkg

# IDE
.vs/
.idea/
.vscode/

# AGENT
.zcode
.claude
.codex
.zcodeignore

# OS
.DS_Store
Thumbs.db

# ARCHIVE & DRAFT
.archive
.draft

# Compiler outputs (generated during tests)
*.o
*.obj
*.ll
*.s

# solid-lang
.solid
