[submodule "compiler/vendor/mimalloc"]
	path = compiler/vendor/mimalloc
	url = https://github.com/microsoft/mimalloc.git
[submodule "compiler/vendor/cmocka"]
	path = compiler/vendor/cmocka
	url = https://gitlab.com/cmocka/cmocka.git
